
<h1>
  <strong> <%= @post.title %> </strong>
</h1>

<%= image_tag(@post.image.url, alt: 'Image', class: 'article_header') if @post.image? %>


<p>
  <%= raw @post.content %>
</p>

<p>
  <%= @post.author %>
</p>


<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Больше не нравится', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Нравится', post_likes_path(@post), method: :post %>
<% end %> <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'человеку понравилось' : 'людям понравилось'%></p>

<% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
<% if pre_favorite %>
    <%= button_to 'Не хочу хранить', post_favorite_path(@post, pre_favorite), method: :delete %>
<% else %>
    <%= button_to 'Хочу сохранить', post_favorites_path(@post), method: :post %>
<% end %>


<h2>мнения:</h2>
<%= render @post.comments %>

<% if user_signed_in? %>
<%= render "comments/form" %>
<% else %>
<p>Please <%= link_to 'войти', new_user_session_path %> or <%= link_to 'зарегистрироваться', new_user_registration_path %> to comment.</p>
<% end %>


<% if user_signed_in? %>
<%= link_to 'поправить', edit_post_path(@post) %> |
<% end %>
<%= link_to 'вернуться', posts_path %>
